body{
    background-color: aqua;
    padding-left: 100px;
    font-size: large;
}


h1{
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:solid;
    border-color:red;
}

img{
    display: block;
    width: 150px;
    height:170px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
}

h3{
    border-style:solid;
    border-color:burlywood;
    
}
h4{
    color:chartreuse
}
#skill {
    font-size: larger;
    margin-right: 60%;
}
